* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green500: hsl(158, 36%, 37%);
  --primary-green700: hsl(158, 42%, 18%);
  --neutral-black: hsl(212, 21%, 14%);
  --neutral-grey: hsl(228, 12%, 48%);
  --neutral-cream: hsl(30, 38%, 92%);
  --neutral-white: hsl(0, 0%, 100%);
  --paragraph: 14px;

}

@font-face {
  font-family: "Montserrat";
  src: url(https://fonts.google.com/specimen/Montserrat);
}

@font-face {
  font-family: "Fraunces";
  src: url(https://fonts.google.com/specimen/Fraunces);
}

body{
  background: var(--neutral-cream);
}
.container{
  background: var(--neutral-white);
  width: 604px;
  height: 450px;
  display: flex;
border-radius: 20px;
  margin: 0 auto;
  
  overflow: hidden;
}
.main-img{
  
  background-image: url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 450px;
  
  
}
.product{
  width: 300px;
  height: 450px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.btn{
  width: 238px;
  height: 48px;
  background: var(--primary-green500);
  border-radius: 10px;
  color: var(--neutral-white);
}
.btn:hover{
  background: var(--primary-green700);
}





/* ----------------  FOOTER ----------------------------- */

.attribution {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 5px;
  font-size: 16px;

  color: var(--text-color);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
